@page
@model WebApp.Pages.Weather
@{
    ViewData["Title"] = "Weather";
}

<h1>@ViewData["Title"]</h1>

<table>
    @foreach (var info in Model.WeatherInfos)
    {
        <tr>
            <td>@info.Date</td>
            <td>@info.Summary</td>
            <td>@info.TemperatureF</td>
            <td>@info.TemperatureC</td>
        </tr>
    }
</table>